.container
  .row
    .col-sm-3.hidden-xs
      .theme-title
        %h2 Refine Your Search by...
      .search-list
        .search-list-header
          %p 
            Book Title (
            =@books.count
            )
        .search-list-item
          - @books.each do |b|
            %p
              =check_box_tag "input1"
              =label_tag "input1", ''
              = b.title
          
        .search-list-see-more
          %a (see more)
        .search-list-header
          %p 
            Author (
            =@books.count
            )
        .search-list-item
          - @books.each do |b|
            %p
              =check_box_tag "input1"
              =label_tag "input1", ''
              = b.author
          
        .search-list-see-more
          %a (see more)
    .col-sm-9
      .row
        .col-sm-12
          .theme-title
            %h1 Theme You Were Reading
        .col-sm-3.col-xs-3.text-center
          =image_tag('the-aeneid-the-gods-and-divine-intervention.large.white.desktop.png', class: "theme-item-image", height: '100px')
        .col-sm-9.col-xs-9
          .themes-wrapper.bo-button-grey      
            %h4
              %a.link-bold 
                = @theme.name 
              in 
              %a
                = @theme.book.title 
              by 
              %a
                = @theme.book.author

            %p Through Vistor and Walton, Frankenstein portrays human beings as deeply ambitious, and yet also deeply flawed. Both Victor and Walton dream of transforming society and bringing glory to themselves through their scientific achievements. Yet there ambitions also make them...
            / Set heigh

            %p
              %a (read full them analysis)
      .themes.index-list
        .theme-title
          %h1 ## Related Themes from Other Text
        %p Themes are ordered from most to least related.
        .relative
          .themes.index-list-item.blurred-text
            = @related_themes.each do |b|
              .row
                .col-sm-3.col-xs-3.text-center
                  =image_tag('the-aeneid-the-gods-and-divine-intervention.large.white.desktop.png', class: "theme-item-image", height: '100px')
                .col-sm-9.col-xs-9
                  %h2.index-list-item-title 
                    %a.link-bold 
                      = b.name 
                    in 
                    %a
                      = b.book.title 
                    by 
                    %a
                      = b.book.author
                  %p Through Vistor and Walton, Frankenstein portrays human beings as deeply ambitious, and yet also deeply flawed. Both Victor and Walton dream of transforming society and bringing glory to themselves through their scientific achievement.
          
          .non-logged-backdrop        
          .non-logged-dialog.text-center.font-family
            .header-logo
              %a
                = image_tag("logo-books-and-text-blue-a-plus.svg", class: "theme-dialog-title")
            %p 
              Get 
              %span.font-bold compare and contrats 
              superpower

            %p Unlock Related Themes for "Ambition and Fallibility" as well as for every one of thr other 2,478 themes we cover.

            %a.btn.btn-lc-red
              %i.fa.fa-lock.lock-icon
              Get LitCharts A+